div.un
{
color:blue;
font-size:23px;
position:relative;
top:-25px;
left:180px;
}

div.un2
{
color:blue;
font-size:23px;
position:relative;
top:-25px;
left:236px;
}

div.like
{
position:relative;
top:210px;

}



body
{
background-color:black;
color:white;
//background-image:url("../images/paper2.jpg");
}


div.welcome
{
position:absolute;
top:150px;
left:500px;
font-size:20px;
}

div.innercontent
{
border:1px solid white;
background-image:url("../images/paper.jpg");
height:370px;
padding-left:40px;
padding-top:30px;
}

div.innercontent img
{
border:1px solid white;

}

div.content
{

height:420px;
width:700px;
position:relative;
top:180px;
left:250px;

}

a
{
text-decoration:none;
color:blue;
font-size:25px;
}

a:hover
{
color:red;
}
div.leader
{
position:relative;
float:left;
top:-10px;
}

div.forum
{
position:relative;
float:left;
padding-left:100px;
top:-10px;
}

div.acc
{
position:relative;
float:left;
padding-left:100px;
top:-25px;

}



div.footer
{
position:relative;
top:140px;
left:450px;
}

div.lo
{
clear:both;
position:relative;
top:-580px;
left:800px;
}

div.lo9
{
clear:both;
position:relative;
top:-380px;
left:1000px;
}

div.img1
{
float:left;
padding-right:10px;


}
div.imgone
{
float:left;
padding-right:10px;
position:relative;
left:150px;

}

div.img2
{
float:left;
padding-right:10px;

}


div.form
{
position:absolute;
top:350px;
left:150px;
color:black;
}

div.tim
{
position:relative;
top:-100px;
left:450px;
}

div.pageclue
{
color:black;
position:relative;
left:210px;
top:10px;
clear:both;
}


div.logo
{
position:absolute;
top:15px;
left:-10px;
}


div.chamber
{
position:absolute;
top:10px;
left:450px;
}

div.notmath
{
position:relative;
left:140px;
top:100px;
color:black;
font-size:70px;
}

div.riddle
{
position:relative;
left:140px;
top:100px;
color:black;
font-size:70px;
}


div.hidden
{
color:black;
position:relative;
left:-500px;
top:-25px;
}

div.thanks
{
position:relative;
left:20px;
top:90px;
color:black;
font-size:50px;
}


div.update
{
position:relative;
top:-75px;
left:-250px;
}