div.title
{
position:absolute;
top:30px;
left:100px;
font-family:verdana;
color:white;
}

div.fbook
{
position:relative;
top:50px;
}

body
{
background-image:url("../images/harry.gif");
}

div.welc
{
position:absolute;
left:300;
color:white;
}

div.name
{
position:absolute;
left:360px;
top:123px;
text-transform:uppercase;
}

div.mob
{
position:absolute;
left:370px;
top:159px;
}

div.lev
{
position:absolute;
left:433px;
top:267px;
}

div.coll
{
position:absolute;
left:380px;
top:195px;
text-transform:uppercase;
}

div.email
{
position:absolute;
left:380px;
top:230px;

}

div.account
{

}
