body
{
background-image:url("../images/assasin.jpg");
font-family:ALGERIAN;
color:blue;
}

div.er
{
color:red;
}

div.follow
{
position:relative;
top:350px;
left:400px;
}

div.lead
{
position:relative;
top:290px;
left:600px;
}

div.whole
{
margin-left:20px;
}

div.err
{
position:absolute;
top:150px;
left:300px;
font-size:25px;
color:red;
}

div.error
{
position:absolute;
top:210px;
left:590px;
font-size:25px;
//color:yellow;
}


div.smsg
{
position:absolute;
top:130px;
left:300px;
font-size:30px;
//color:white;
}


div.msg
{
position:absolute;
top:200px;
left:200px;
font-size:30px;

//color:white;
}

div.msg2
{
position:absolute;
top:450px;
left:260px;
font-size:30px;
//color:white;
}

a
{
text-decoration:none;
color:red;
font-size:30px;

}

div.frm
{
position:relative;
top:270px;
left:350px;
//color:white;
font-size:23px;

}

div.frm2
{
position:relative;
top:200px;
left:350px;
//color:white;
font-size:23px;

}

